{% include "registration/header.html" %}

<!-- templates/registration/login.html -->
<h2>Login</h2>

{% if request.GET.redirected == "true" %}
  <div class="alert alert-danger" role="alert">
    You need to login first
  </div>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>

{% include "registration/footer.html" %}