<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">March Madness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path == '/' %} active {% endif %}">
            <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == '/leagues' %} active {% endif %}">
            <a class="nav-link" href="{% url 'leagues' %}">Leagues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'teams' %}">Teams</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
    {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    {% endif %}
  </div>
</nav>