{% include "registration/header.html" %}

<h1>Teams</h1>
<table id="teamsTable"> 
    <thead>
        <th>Bracket</th>
        <th>Name</th>
        <th>Seed</th>
    </thead>
    <tbody>
        {% for team in teams %}
            <tr>
                <td>{{team.bracket}}</td>
                <td>{{team.name}}</td>
                <td>{{team.seed}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready( function (){
        $("#teamsTable").DataTable({});
    });
</script>
{% include "registration/footer.html" %}
